$mobile-iphonex-mindevice-width: 375px;
$mobile-iphonex-max-device-width: 812px;
$tablet-width: 768px;
$desktop-width: 1024px;
$dark-blue: #24214C;

@mixin mobile {
    @media only screen 
    and (min-device-width: $mobile-iphonex-mindevice-width) 
    and (max-device-width: $mobile-iphonex-max-device-width) 
    and (-webkit-min-device-pixel-ratio: 3) { 
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@import 'guestprofile';
@import 'form';
 
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
 
a {
  color: #00B7FF;
}
 
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
.topbar {
    background-color:$dark-blue;
    a#signout{
        float:right;
        display:block;
        text-align:right;
        padding:5px 10px;
        width:100%;
        color:white;
        line-height: 15px;
    }
}

 
#nowPlaying tr:first-child td{
    border-top:0;
}
 
#player{
    float: right;
    margin-right: -10px;
}
 
.main{
  margin-top:10px;
  width:100%;
  margin:0px !important;
  padding:0px !important;
}
 
.thumbnail{
    width: 70px; 
}
.description{
    font-size:9pt;
}
 
.search-results-table tr td{
    height:10px;
    padding:0px;
}
.search-results-table tr{
    cursor: hand;
}
 
.tableContainer{
    height: 300px;
    overflow: scroll;
}
 
.selected{
    color:red;
}
 
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img-small{
    width: 36px;
    height: 36px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%; 
    margin-top:10px;  
}
.userName{
    color:white;
    font-size:12pt;
    margin-left:-50px;
    margin-top:18px;
}
form#message { background: #000; padding: 3px; position: absolute; bottom: 0; width: 100%; }
form#message input { border: 0; padding: 10px; width: 89%; }
form#message button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin:0; margin-right:-15px; padding: 0; max-height:357px; overflow:scroll; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #B1DDDF; }
#messages img { margin-right:.5em; }
#youTubePlayer {
    background-color:#1C1D21;
    /*height:400px;*/
}
#messagesContainer {
    background-color:#92CDCF;
}
h4 {
  color:white;  
}
#videoPlaylist{
    padding-top:5px;
    color:white;
    background-color:#445878;
    height:400px
}
#videoSearch {
    background-color:#131462; //comment
}

@include mobile {
    .login-title {
        font-size: 58px;
    }

    .account-wall {
        h3 {
            font-size: 58px;
        }
        form {
            &.form-signin,
            &.form-register {
                max-width: 53%;
            }
        }
    }
}