extends layout
 
block content
  .container-fluid(ng-app='YouTube' ng-controller='YouTubeCtrl')
    .row
      .col-xs-12.topbar
        a(href='/signout' id="signout") log out
    .row(style='background-color:#000')
      .col-lg-6
        .row
          #youTubePlayer.embed-responsive.embed-responsive-16by9
            #player
      .col-lg-6#videoPlaylist
        h4 YouTube Playlist
        p Change the current song by clicking another song in the playlist.
          #playlist
            .tableContainer
              table#nowPlaying.table.table-condensed
                tbody
                  tr(ng-repeat='video in nowPlaying')
                    td(ng-click='selectNowPlaying(video,$index)', ng-class='{selected: (currentSong==$index)}') {{($index)+1}} - {{video.description | limitTo:40}}
                    td
                      button.btn.btn-danger.btn-xs.glyphicon.glyphicon-remove(ng-click='remove(video)')
    .row
      .col-lg-6#videoSearch
        h4 Video Search
        form.form-inline(role='form')
          .col-xs-8.input-group.col-xs-offet-1
            input.form-control(type='text', ng-model='term', placeholder='Search')
          .input-group
            button.btn.btn-primary.glyphicon.glyphicon-search(ng-click='search(term)')
        br
        .tableContainer
          table.table.table-dark.search-results-table
            tbody
              tr(ng-repeat='item in results')
                td
                  img.thumbnail(ng-src='{{item.snippet.thumbnails.default.url}}')
                td
                  .description
                    | {{item.snippet.description}}
                  button.btn.btn-success(ng-click='add(item)') Add to Playlist
                  
                  button.btn.btn-danger(ng-click='play(item)') Play Now!
      .col-lg-6#messagesContainer
        ul#messages
        form#message(action="")
          input(
            id='m'
            autocomplete='off'
          )
          button Send
block script
      script
        |var myName = "#{DisplayName}";
        |var myProfileImage = "#{ProfileImage}";
        |var socket = io();
        |socket.on("join",function(data){
        | scope.join(data);
        | })
        |socket.on("newVideo",function(data){
        | scope.socketPlay(data);
        | })
        |$('form').submit(function(){
        | socket.emit('chat message', $('#m').val(), myProfileImage);
        | $('#m').val('');
        | return false;
        |});
        |socket.on('chat message', function(msg, img){
        | $('#messages').append('<li><img src="' + img + '" class="img-circle" />' + msg + '</li>');
        |});
      script(src='js/main.js')